@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

body, html{
	font-family: 'Montserrat';
}

body {
	z-index: 1;
	background: linear-gradient(-45deg, #654ea3, #eaafc8);
	background-size: 400% 400%;
	width: 100%;
	animation: animate 15s ease infinite;
}

.container {
	height: 580px;
	width: 500px;
	background: white;
	margin: 50px 100px 0px 100px;
	border-radius: 30px;
}

.cards {
	display: inline-block;
	height: 200px;
	background: #fff;
}

@keyframes animate {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.footer-text-left {
  font-size:25px;
  text-align: center;
  margin: 50px 0 50px 0;
}

a.menu {
	text-decoration: none;
	color: white;
	margin-right: 5px;
	margin-left: 5px;
}

a.menu:hover {
  font-size:22px;
  transition: .5s;
}

a.menu:not(:hover){
  transition: .5s;
}

.logo {
	padding-top: 20px;
}

.container img{
— moz-transition: all 1s ease;
— webkit-transition: all 1s ease;
— o-transition: all 1s ease;
transition: all 1s ease;
}

.container img:hover{
— moz-transform: scale(1.2); /* эффект трансформации для Firefox до версии 16.0 */
— webkit-transform: scale(1.2); /* эффект трансформации для Chrome до версии 26.0, Safari, Android и iOS */
— o-transform: scale(1.2); /* эффект трансформации для Opera до версии 12.10 */
— ms-transform: scale(1.2); /* эффект трансформации для IE 9.0 */
transform: scale(1.2); /* эффект трансформации для других браузеров */
cursor: pointer;
}

.copyright {
	margin-bottom: 50px;
	color: white;
}

/** МОБИЛКИ **/

@media all and (max-width: 997px){
	*{

	}
	.container {
		height: 500px;
		width: 300px;
		border-radius: 10px;
		margin: 20px 0 20px 0;
	}
	.menu {
		font-size: 80%;
		margin-top: -90px;
		color: #fff;
	}
	body {
		background: #292929;
		background-size: 100%;
		width: 100%;
	}
	.container img:hover{
		— moz-transform: scale(1.1); /* эффект трансформации для Firefox до версии 16.0 */
		— webkit-transform: scale(1.1); /* эффект трансформации для Chrome до версии 26.0, Safari, Android и iOS */
		— o-transform: scale(1.1); /* эффект трансформации для Opera до версии 12.10 */
		— ms-transform: scale(1.1); /* эффект трансформации для IE 9.0 */
		transform: scale(1.1); /* эффект трансформации для других браузеров */
	}
	.container img{
		height: 180px;
		margin-top: 15px;
		width: 180px;
	}
	.logo {
		margin-bottom: 20px;
	}
}

/* BTN */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'Montserrat';
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}