/* importing fonts! */
@import url("https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css")
/* main app css */

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: rgb(25, 25, 25);
    color: rgba(255, 255, 255, 0.75);

}


.fun {
  color: white;
  border: 0;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Gilroy';
  padding: .5em 1.25em;
  background: linear-gradient(90deg, #ee6352, purple, #ee6352);
  background-size: 300%;
  background-position: left;
  transition: background-position 350ms;
}

.fun:hover {
  background-position: right;
}

.header {
  display: flex;
  align-items: center;
  height: 73px;
  border-bottom: 1px solid #474747;
}
.header-container {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 40px;
}

.nav {
  margin-top: -4px;
  font-weight: bold;
  font-size: 14px;
  line-height: 2.7;
}

.appstore {
  margin-left: auto;
  display: flex;
}

.logo-main {
  width: 40px;
  height: 40px;
}

.nav-link {
  text-decoration: none;
  font-family: 'Gilroy';
  font-style: normal;
  margin-right: 32px;
  color: #ffff
}

.nav-link:hover {
  color: gray;
  transition: color .3s;
}

.nav-link:last-child {
  margin-right: 0;
}

.youtube-logo {
  height: 40px;
  margin-right: 100px;
}

.main {

}

.main-container {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-content {
  font-size: 18px;
  color: #18191F;
  width: 800px;
}

.main-text p {
  margin-bottom: 15px;
  font-size: 18px;
  font-family: "Gilroy";
  font-style: italic;
  margin: 0;
  line-height: 1.78;
  color: #fff;
}

.main-img {

}

.main-text {
  margin-bottom: 32px;
}

.main-header {
  margin: 0;
  margin-bottom: 16px;
  margin-top: 100px;
  font-weight: 800;
  font-size: 72px;
  line-height: 1.36;
  font-family: 'Gilroy';
  font-style: normal;
  color: #ffff;
}

.button {
  display: inline-block;
  padding-left: 35px;
  padding-right: 35px;
  height: 62px;
  background: #8C30F5;
  border-radius: 8px;
  font-style: normal;
  font-family: 'Gilroy';
  font-weight: bold;
  font-size: 20px;
  line-height: 62px;
  color: #FFFFFF;
  text-decoration: none;
}

.button:hover {
  opacity: 0.9;
}

.footer {

  position: absolute;
  left: 0%;
  right: 0%;
  top: 92.32%;
  bottom: 0%;
  background: black;
  display: flex;
  margin-top: 250px;
  align-items: center;
  height: 120px;
  color: #D9DBE1;
}

.footer-container {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-copyright p {
  margin: 0;
}

.footer-copyright {
  font-size: 14px;
  font-family: 'Gilroy'
}

.footer-etc {
  display: flex;
}

.fs {
  margin-left: 16px;;
}

.comments {
  margin-top: 20px;
  margin-bottom: 20px;
}

.h2 {
  margin-top: 20px;
  font-family: 'Gilroy';
}

.line {
      width: 16em;
      margin-top: 100px;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
      font-size: 180%;
      text-align: center;
      color: #fff;
      white-space: nowrap;
      font-family: 'Gilroy';
      overflow: hidden;transform: translateY(-50%);
}

/*Animation*/

.anim-typewriter {
      animation: typewriter 3s steps(40) 1s 1 normal both,
      blinkTextCursor 700ms steps(40) infinite normal;
}

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 12.9em;
      }
}

@keyframes blinkTextCursor {
      from {
            border-right-color: rgba(255, 255, 255, 0.75);
      }
      to {
            border-right-color: transparent;
      }
}

@font-face {
    font-family: 'Gilroy-Extrabold';
    src: url('fonts/Gilroy-Extra-Bold/Gilroy-Extra-Bold'), url('Gilroy-Extrabold'),
        url('fonts/Gilroy-Extra-Bold/Gilroy-Extra-Bold.woff2') format('woff2'),
        url('fonts/Gilroy-Extra-Bold/Gilroy-Extra-Bold.woff') format('woff'),
        url('fonts/Gilroy-Extra-Bold/Gilroy-Extra-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
@font-face {
    font-family: 'Gilroy-Heavy';
    src: url('fonts/Gilroy-Heavy/Gilroy Heavy'), url('Gilroy-Heavy'),
        url('fonts/Gilroy-Heavy/Gilroy-Heavy.woff2') format('woff2'),
        url('fonts/Gilroy-Heavy/Gilroy-Heavy.woff') format('woff'),
        url('fonts/Gilroy-Heavy/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('fonts/Gilroy-Bold/Gilroy Bold'), url('Gilroy-Bold'),
        url('fonts/Gilroy-Bold/Gilroy-Bold.woff2') format('woff2'),
        url('fonts/Gilroy-Bold/Gilroy-Bold.woff') format('woff'),
        url('fonts/Gilroy-Bold/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
@font-face {
    font-family: 'Gilroy-Regular';
    src: url('fonts/Gilroy-Regular/Gilroy-Regular'), url('Gilroy-Regular'),
        url('fonts/Gilroy-Regular/Gilroy-Regular.woff2') format('woff2'),
        url('fonts/Gilroy-Regular/Gilroy-Regular.woff') format('woff'),
        url('fonts/Gilroy-Regular/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
