


*{
  margin:0;
  padding:0;
}

html, body {
    font-family: 'DIN Pro';
    font-weight: 500;
    font-style: normal;
    background-color: #191d3e;
}
img {
    border: 0;
    image-rendering: var(--image-rendering, auto);
}

.logo {
  display:flex;
  align-items:center;
  justify-content: center;
}

.img {
	margin-top: 50px;
}

.button_login {
    height: 3.4rem;
    width: 13rem;
    padding: 0 1.6rem;
    background-color: #62d5b2;
    border-radius: 0.8rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.9rem;
    color: #20274b;
    text-transform: none;
    cursor: pointer;
    margin-top: 130px;
    font-family: 'DIN Pro';
    font-weight: 500;
}
.button_login:hover {
	transition: .4s;
    background-color: rgb(25, 113, 93);
    color: rgb(150, 176, 197);
}
.button_login:not(:hover) {
	transition: .4s;
}
button {
    position: relative;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: auto;
    height: 5rem;
    padding: 0 2rem;
    border: 2px solid transparent;
    background-color: transparent;
    border-radius: 10px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 5rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    outline: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: color .2s ease-out 0s,background-color .2s ease-out 0s,border-color .2s ease-out 0s,box-shadow .2s ease-out 0s;
}
.attention_title {
	color: rgb(193, 92, 117);
}
.attention_img {
    width: 68px;
    height: 68px;
    border-color: initial;
}

.textatt {
    color: #ba4b67;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    width: 29%;
    line-height: 18px;
    letter-spacing: .5px;
}
.attention-wrap {
    display: inline;
}