
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

/* ==================================================== Recreating the email field from https://webflow.com/cms. Just an experiment - not as cross-browser friendly as the original. Changed: - animated gradient bar to :after element - flexbox for layout ==================================================== */
 html {
	 box-sizing: border-box;
	 font-size: 10px;
}
 *, *:before, *:after {
	 box-sizing: inherit;
}
 body, ul, li {
	 margin: 0;
	 padding: 0;
}
 li {
	 list-style: none;
}
 p, h1, h2, h3, h4, h5, h6 {
	 margin-top: 0;
}
 a {
	 text-decoration: none;
}
 input {
	 border-style: none;
	 background: transparent;
	 outline: none;
	 text-align: center;
}
 button {
	 padding: 0;
	 background: none;
	 border: none;
	 outline: none;
}
 body {
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
	 font-family: 'Montserrat';
	 background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
}
 h1.demo {
	 text-align: center;
	 font-size: 2.4rem;
	 font-weight: normal;
	 margin-bottom: 1rem;
	 color: #f5f6ff;
}
 a.demo {
	 text-align: center;
	 font-size: 1.6rem;
	 font-weight: normal;
	 color: rgba(202, 205, 239, 0.8);
	 margin-bottom: 3rem;
}
 .demo-flex-spacer {
	 flex-grow: 1;
}
 .container {
	 display: flex;
	 flex-direction: column;
	 height: 100vh;
	 max-width: 1600px;
	 padding: 0 15px;
	 margin: 0 auto;
}
 @keyframes gradient {
	 0% {
		 background-position: 0 0;
	}
	 100% {
		 background-position: 100% 0;
	}
}
 .webflow-style-input {
	 position: relative;
	 display: flex;
	 flex-direction: row;
	 width: 100%;
	 max-width: 400px;
	 margin: 0 auto;
	 border-radius: 2px;
	 padding: 1.4rem 2rem 1.6rem;
	 background: rgba(57, 63, 84, 0.8);
}
 .webflow-style-input:after {
	 content: "";
	 position: absolute;
	 left: 0px;
	 right: 0px;
	 bottom: 0px;
	 z-index: 999;
	 height: 2px;
	 border-bottom-left-radius: 2px;
	 border-bottom-right-radius: 2px;
	 background-position: 0% 0%;
	 background: linear-gradient(to right, #b294ff, #57e6e6, #feffb8, #57e6e6, #b294ff, #57e6e6);
	 background-size: 500% auto;
	 animation: gradient 3s linear infinite;
}
 .webflow-style-input input {
	 flex-grow: 1;
	 color: #bfd2ff;
	 font-size: 1.8rem;
	 line-height: 2.4rem;
	 vertical-align: middle;
}
 .webflow-style-input input::-webkit-input-placeholder {
	 color: #7881a1;
}
 .webflow-style-input button {
	 color: #7881a1;
	 font-size: 2.4rem;
	 line-height: 2.4rem;
	 vertical-align: middle;
	 transition: color 0.25s;
}
 .webflow-style-input button:hover {
	 color: #bfd2ff;
}

.button {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button {
    padding: 10px 30px;
  }
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.preloader {
    justify-content: center;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #292929;
}